<nav>
  <% if session[:name] %>
    <p>You are Log In as: <br> <%= session[:name] %></p>
    <%= link_to  "Log Out", session_path(session[:name]), method: :delete %>
  <% else %>
    <p>You need to Log In or Sign Up</p>
    <%= link_to  "Sign Up", new_user_path%> <br>
    <%= link_to  "Log In", new_session_path%>
  <% end %>
</nav>

<section>
<h2>All the Past Events listed down below:</h2>


<% @prev_events.each do |e| %>
  <ul>
    <li> Title: <%= e.title %></li>
    <li> Description: <%= e.description %></li>
    <li> Venue: <%= e.venue %></li>
    <li> Date: <%= e.date %></li>
  </ul>
<% end %>

<h2>All the Present Events listed down below:</h2>



<h2>All the Future Events listed down below:</h2>

<% @upcoming_events.each do |e| %>
  <ul>
    <li> Title: <%= e.title %></li>
    <li> Description: <%= e.description %></li>
    <li> Venue: <%= e.venue %></li>
    <li> Date: <%= e.date %></li>
  </ul>
<% end %>
</section>